{% extends "base.html" %}

{% block content %}
{% block body %}
{% if data %}
<head>
    <title>Notas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
<style>
    .element {
        @include container;
}
</style>
  <div class="container">
    <h2>Registros</h2>
    <p>Dados inseridos desde o começo</p>            
    <table class="table table-bordered">
        <thead>
            <tr>
               
                <th>Causa</th>
                <th>Solução</th>
                <th>Categoria do problema</th>
                <th>Descrição</th>
                <th>Data inicial</th>
                <th>Data final</th>
                
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row.cause_issue}}</td>
                <td>{{ row.solution_issue}}</td>
                <td>{{ row.category_issue}}</td>
                <td>{{ row.description}}</td>
                <td>{{ row.start_date}}</td>
                <td>{{ row.final_date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>    
{% endif %}
{% endblock %}
{% endblock%}
